@model LossSounds.Models.tb_Usuario
@{
    ViewBag.Title = "Index";
    Layout = null;
    if (ViewBag.AlertMessage != null)
    {
    <script>alert('@ViewBag.AlertMessage');</script>
    }
    if (ViewBag.AlertDone != null)
    {
        <script>alert('@ViewBag.AlertDone');</script>
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/Content/stylesIndexHome.css">
    <title>Document</title>
</head>
<body>
    <div class="container-form">
        <div class="information">
            <div class="info-childs">
                <h2>Bienvenido</h2>
                <p>
                    Escucha musica de calidad con LOOS SOUND
                    EMPIEZA AHORA
                </p>
                <input type="button" onclick="goLogin()" value="Iniciar Sesion">
            </div>
        </div>
        <div class="form-information">
            <div class="form-information-childs">
                <h2>Crea una Cuenta</h2>
                <div class="icons">
                    <i class='bx bxl-google'></i>
                    <i class='bx bxl-facebook-circle'></i>
                </div>
                <p>o usa una gmail para registrarte</p>

                @using (Html.BeginForm("Signup", "Home", FormMethod.Post, new { @class = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <label>
                        <i class='bx bx-user'></i>
                        @*<input type="text" id="userr" placeholder="Nombre Completo" name="user">*@
                        @Html.TextBoxFor(Model => Model.Nombre_Usuario, new { @placeholder = "Usuario" })
                    </label>
                    @*<label>
                            <i class='bx bxl-gmail'></i>
                            <input type="email" placeholder="Correo electronico">
                        </label>*@
                    <label>
                        <i class='bx bx-lock-alt'></i>
                        @Html.PasswordFor(Model => Model.Contrasena, new { @placeholder = "Contraseña" })
                    </label>
                    <input type="submit" value="Registrarse">


                }
            </div>
        </div>
    </div>
    @*<script src="script.js"></script>*@
</body>
</html>

<script>
    function goLogin() {
       var url = '@Url.Action("LogPage", "Home")';

    // Redirigir al usuario
    window.location.href = url;
    }
    function fnSign() {
        var us = document.getElementById("userr").value;
        var pas = document.getElementById("pass").value;
         $.ajax({
            url: '@Url.Action("Signup", "Home")', // Reemplaza con la URL correcta
            type: 'POST',
            dataType: 'json',
            data: {
                user: us,
                password: pass
                  },
                success: function (data) {
                // "data" contendrá los datos en formato JSON
                console.log("add user", data);

           },
                error: function () {
                // Manejar errores si es necesario
                    console.log("error");
                }
           });
    }

</script>