<!DOCTYPE html>
@{
    ViewBag.Title = "Loss Sounds";
    string saludo;
    var hora = DateTime.Now.Hour;
    if (hora < 12 && hora > 6)
    {
        saludo = "Buenos días";
    }
    else if (hora > 12 && hora < 20)
    {
        saludo = "Buenas tardes";
    }
    else
    {
        saludo = "Buenas noches";
    }
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js" integrity="sha512-+k1pnlgt4F1H8L7t3z95o3/KO+o78INEcXTbnoJQ/F2VqDVhWoaiVml/OEHv9HsVgxUaVW+IbiZPUJQfF/YxZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <header>
            <div class="general__bienvenida">
                <div class="hora">
                    <h1 class="general__bienvenida__bn">@saludo @Session["Name"]|</h1>
                    <h3 class="general__bienvenida__hora">@DateTime.Now.ToString("h:mm tt")</h3>
                </div>

                <div class="general__bienvenida__busqueda">
                    <form class="form">
                        <button>
                            <svg width="17" height="16" fill="none" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="search">
                                <path d="M7.667 12.667A5.333 5.333 0 107.667 2a5.333 5.333 0 000 10.667zM14.334 14l-2.9-2.9" stroke="currentColor" stroke-width="1.333" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </button>
                        <input class="input" id="text-buscar" placeholder="Descubre nueva musica" required="" type="text">
                        <select class="search-canciones" id="opciones-cancion">
                        </select>
                        <button class="reset" type="reset">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                            </svg>
                        </button>
                    </form>
                </div>

                <div class="general__bienvenida__logo">
                    <img src="../Content/Images/Logo.png">
                </div>
            </div>
        </header>
        <aside>
            <div class="menu">
                <h1 class="menu__usuario"><a>Usuario <img src="../Content/Images/usuario.png"></a></h1>
                <h1 class="menu__inicio"><a>Inicio <img src="../Content/Images/inicio.png"></a></h1>
                <div class="menu__biblioteca">
                    <h1 class="menu__biblioteca__letrero"><a>Biblioteca<img src="../Content/Images/libro.png"></a></h1>
                    <div class="biblioteca__album">
                        <img src="../Content/Images/inicio.png"><b>Album1</b>
                    </div><br>
                    <div class="biblioteca__album">
                        <img src="../Content/Images/inicio.png"><b>Album2</b>
                    </div><br>
                    <div class="biblioteca__album">
                        <img src="../Content/Images/inicio.png"><b>Album3</b>
                    </div><br>
                    <div class="biblioteca__album">
                        <img src="../Content/Images/inicio.png"><b>Album4</b>
                    </div><br>
                </div>
            </div>
        </aside>

        <div class="contenido_general">
            @RenderBody()
        </div>


        <footer>
            <div class="reproductor">
                <div class="info">
                    <img src="caratula.jpg" alt="Caratula del artista">
                    <div class="cancion-info">
                        <p>Nombre del Artista</p>
                        <p>Nombre de la Canción</p>
                        <p>Nombre del Álbum</p>
                    </div>
                </div>
                <div class="controles">
                    <div class="btn_atras">
                        <button id="atras">Atrás</button>
                    </div>
                    <div class="btn_play">
                        <button id="play" class="imgPlay"><img src="~/Content/Images/play.png"></button>
                    </div>
                    <div class="btn_pausa">
                        <button id="pausa">Pausa</button>
                    </div>
                    <div class="btn_siguiente">
                        <button id="siguiente">Siguiente</button>
                    </div>
                </div>
                <div class="barra-reproduccion">
                    <input type="range" id="barra-progreso" min="0" max="100">
                </div>
            </div>
        </footer>

    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<script>
       function Buscador() {

        // Capturar el campo de entrada
    var $searchInput = $('#text-buscar');
    // Obtener el elemento select
    var $select = $('#opciones-cancion');

    // Evento para detectar cambios en el campo de entrada
    $searchInput.on('input', function () {
        var query = $(this).val(); // Obtener el valor ingresado por el usuario
        // Obtener datos desde el controlador y cargarlos en el select
        $.ajax({
            url: '@Url.Action("GetCancionList", "Home")',
            type: 'GET',
            dataType: 'json',
            data: {
                txt: query  // Pasar el valor ingresado por el usuario como parámetro
            },
            success: function (data) {
                // Limpiar opciones existentes
                $select.empty();

                // Agregar las nuevas opciones desde los datos recibidos
                $.each(data, function (index, item) {
                    $select.append($('<option>', {
                        value: item.Value,
                        text: item.Text
                    }));
                });
            },
            error: function (error) {
                console.error('Error al obtener datos desde el servidor:', error);
            }
        });

        });
    }
</script>
